# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2

print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [11]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor  = num2 // num1
print(result_floor)
result_floor

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = num2%num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [20]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [22]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("This is my first name ",name)

print("Full name: ", name, end=" Apol")

This is my first name  Brandon
Full name:  Brandon Apol

##### String Concatenation

In [27]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [29]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [32]:
# input will always return a string

#name = input("What is your name?")
#print(name)

age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your age? 30
35

##### format()

In [34]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 40
You are 40 Scott and you are getting wiser!
40 is a great time in life!!!

##### Old Way (python 2)

In [36]:
result_string2 = "You are %s and you look great for your age!"%age
print(result_string2)

You are 40 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [44]:
name = input("what is your name? ")

color = input("What is the color of your car? ")
print(color)
make = input("What is the make of your car? ")
print(make)
year = input("What is the year of your car? ")
print(year)
model = input("What is the model of your car? ")
print(model)


car_stats = f"{name}  your car is a {color} {make} {year} {model}."
print(car_stats)

what is your name? Scott
What is the color of your car? red
red
What is the make of your car? honda
honda
What is the year of your car? 1996
1996
What is the model of your car? accord
accord
Scott  your car is a red honda 1996 accord.

### If Statements

In [53]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
#if num1 == num2:
   # print('Equal values!')
#else:
   # print('Not equal!')

if num2 > num1 and num3 > 0:
    print('num2 is greater')
elif num1 > num2:
    print('num1 is greater')
else:
    print("Equal values")

Equal values

##### 'is' keyword

In [55]:
# The "is" keyword is for checking for the same object but not the same value
num3 = 55
if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/4f/69xlmk7x09j1xydn5lwc_1zw0000gp/T/ipykernel_29451/3873350109.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [57]:
# Checks if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [58]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here....")

a is NOT here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [72]:
name = input("What is your name? ")
if 'p' in  name:
    print("Your name contains p") 
else:
    print("Your name does not contain p")

What is your name? Wayne
Your name does not contain p

## Using 'and'/'or' with If Statements

In [75]:
num_11 = 15
num_12  = 3
num_13 = 10
num_14 = 3

#If with "and" statement

if num_11 /5 == num_12 and num_13 -7 == num_14:
    print("True and True")
    
#If with "or" statement

if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [79]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [80]:
# Syntax:
# for counter in condition

name = "Brandon Apol"
for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [83]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [84]:
for i in range(20):
    if i==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [85]:
for i in name:
    pass

##### Double For Loops

In [86]:
for i in range(5):
    for j in range(5):
        print("i= ", i, "j= ", j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  0 j=  4
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  1 j=  4
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  2 j=  4
i=  3 j=  0
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3
i=  3 j=  4
i=  4 j=  0
i=  4 j=  1
i=  4 j=  2
i=  4 j=  3
i=  4 j=  4

### While Loops

In [88]:
# syntax:
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [92]:
game_over = True

while game_over:
    print("infinite loop")
    user_input = input("Would you like to stop? " )
    if user_input == "Yes":
        game_over = False

infinite loop
Would you like to stop? no
infinite loop
Would you like to stop? no
infinite loop
Would you like to stop? yes
infinite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [94]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " , str(i + 1))
    num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [97]:
# range(start, step, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [98]:
name = "Max"
length = len(name)
print(length)

3

##### help()

In [99]:
# use this function to view more info about given function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [102]:
# Check a variable to find out what data type it belongs to.
#isInstance(var, type)

print(isinstance(4.5, int))


if isinstance(4.5, float):
    print("This number is a float type.")

False
This number is a float type.

##### abs()

In [103]:
# /-5/ = 5
print(abs(-5))

5

### Try and Except

In [105]:
#use this to log out useful error messages.
#Does not stop the program.

try:
  input_num =int(input("Guess a number "))
  print("Your number is " + str(input_num))
except:
    print("That didn't work. Change your input to a number.")

Guess a number nine
That didn't work. Change your input to a number.

### Lists

##### Declaring Lists

In [134]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob','Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [138]:
# list_name[start: stop: step]

#Single index

print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# print starting at the beginning of a list until a number
print(names[:2])

#Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[:: -1])

Cindy
['Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon', 'Brandon']
['Max', 'Cindy']
['Cindy', 'Devon', 'Nate', 'Brandon']
['Brandon', 'Brandon', 'Nate', 'Bob', 'Devon', 'Kathy', 'Cindy', 'Max']

In [135]:
names.append('Brandon')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .append()

In [136]:

names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon', 'Brandon']

##### .insert()

In [137]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon', 'Brandon']

##### .pop()

In [133]:
#defaults to the last value if no parameter is given.
#Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)

Kathy


##### .remove()

In [141]:
# Value to be removed rather than index
#names.remove('Bob')
#print(names)

#remove multiple Brandons from list

while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Nate']

##### del()

In [142]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Kathy', 'Devon', 'Nate']

##### Concatenating Two Lists

In [146]:
# Will append two lists together, will not add the values.

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#They can go as deep as you want; this is called nested lists

names =["Max", "Sam", "Josh", ["Sally","Sue","Tameka"]]
print(names)

print(names[3][1])

##### Looping Through Lists

In [150]:
# 2 ways to loop through a list.  One is by index. The other is by using the "in" keyword.

#By index:
for i in range(len(names)):
    print(names[i])
    
    
# loop with 'in'

for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

# Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [174]:
    num = 1
    while True:
        cube = num ** 3
        if cube > 1000:
            break
        print(cube)
        num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [180]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = int(input("Enter a number: "))
    
for i in range(2,num+1):
    for j in range(2,num+1):
        if i%j == 0:
            break
    if i == j:
        print(i,end=',')

Enter a number: 100
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [187]:
age =  int(input("What is your age? "))
if age < 18:
    print("kids")
elif age > 18 and age < 65:
    print("adults")
else:
    print("seniors")

What is your age? 73
seniors